/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
/*
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1;
    color: #343a40;
}

.pagination-container {
    margin: 100px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 16px;
}

.arrow-bubble {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #087f5b;
    background: none;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
    stroke: #087f5b;
}

.numbers {
    display: flex;
    align-items: center;
    gap: 24px;
}

.single-number {
    border-radius: 50%;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.link-effect:hover,
.link-effect:active {
    background-color: #087f5b;
    color: white;
}

.link-effect:hover .arrow {
    stroke: white;
}

.fill {
    background-color: #087f5b;
    color: white;
}

.dots {
    color: #868e96;
  }


