/****************************************************************************/
/*Header*/
/****************************************************************************/

.logo {
    height: 2.2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;

    /*Because we want header to be sticky*/
    height: 9.6rem;
    padding: 0 4.8rem;
}


/****************************************************************************/
/*Navigation*/
/****************************************************************************/

.top-nav-list {
    list-style: none; /*To remove the bullet dot*/
    display: flex;
    align-items: center;
    gap: 4.8rem
}

.top-nav-link:link,
.top-nav-link:visited {
    text-decoration: none; /*To remove the underline from the link*/;
    color: #333;
    display: inline-block; /*Best practice for links to be able to add padding*/
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s; /*The transition to Hover will take 0.3 seconds*/
}

.top-nav-link:hover,
.top-nav-link:active {
    color: #cf711f;
}

/*Without a space means it's not a descendent. It should be present in the same class
both classes.*/
.top-nav-link.top-nav-btn-cta:link,
.top-nav-link.top-nav-btn-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: white;
    /*Since the specificity is higher (0, 3, 0) than the .top-nav-link:link
       (0, 2, 0), this color will apply.*/;
    background-color: #e67e22;
}

.top-nav-link.top-nav-btn-cta:hover,
.top-nav-link.top-nav-btn-cta:active {
    background-color: #cf711f;
}


/****************************************************************************/
/* MOBILE NAV */
/****************************************************************************/

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none; /*by default, for normal width, the mobile nav is none*/
    z-index: 9999; /* to make it appear above other elements */
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}



/****************************************************************************/
/* STICKY NAVIGATION */
/****************************************************************************/

.sticky .header {
    position: fixed;
    top: 0;
    /*bottom: 0;*/
    width: 100%;
    /* some transparency to the navigation bar */
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
    margin-top: 9.6rem;
}




/****************************************************************************/
/*Hero Section*/
/****************************************************************************/

.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero-container {
    max-width: 130rem;
    /*It's a good practice to let the hero section be slightly larger
       than the default container width of 120rem*/
    margin: 0 auto; /*trick to center element;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
    padding: 0 3.2rem;
}


.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}


.hero-image {
    width: 100%;
}


.delivered-meals {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin-right: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: #cf711f;
    font-weight: 700;
}


/****************************************************************************/
/*FEATURED IN*/
/****************************************************************************/

.section-featured {
    padding: 4.8rem 0 3.2rem 0; /*Top 4.8, bottom 3.2*/
}

.logos {
    display: flex;
    /*gap: 6rem;*/
    justify-content: space-around;
    filter: brightness(0); /*make the images totally black*/
    opacity: 50%; /*it makes the images gray (from black)*/
}

.logo-img {
    /*width: 10%;*/
    height: 3.2rem;
}

.heading-featured-in {
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #999; /*000 is totally black. Going up decreases the blackness*/
    letter-spacing: 1px;
}


/****************************************************************************/
/*How it works*/
/****************************************************************************/

.how-it-works {
    padding: 9.6rem 0;
}

.step-img {
    width: 35%;
}

.step-text-box {

}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.6rem;
    line-height: 1.6;
}

.step-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /*The parent element*/
}


/*Pseudo-elements (::) add child elements to parents*/
.step-img-box::before,
.step-img-box::after {
    content: ''; /*To appear on the page it needs to have some content, even if it's empty*/
    display: block;

    border-radius: 50%; /*To make the square round*/

    position: absolute; /*Take it out of the flow*/
    /*Center the element using absolute position*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.step-img-box::before {
    width: 60%; /*Higher than the 35% image size*/;
    /*height: 60%;*/ /*It doesn't work*/

    /*60% of parents width*/
    padding-bottom: 60%; /*A trick to give the height of 60% and build the square*/
    background-color: #fdf2e9;
    z-index: -2; /*Defines which element appears above or below each*/
}


.step-img-box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
}


/*.how-it-works div:nth-child(1) {
    background-color: aqua
}
.how-it-works div:nth-child(2) {
    background-color: blue
}
.how-it-works div:nth-child(3) {
    background-color: violet
}
.how-it-works div:nth-child(4) {
    background-color: yellow
}*/


/****************************************************************************/
/*SAMPLE MEALS*/
/****************************************************************************/

.section-meals {
    padding: 9.6rem 0;
}

.meal-img {
    width: 100%; /*% of the box that is in*/
}

.meal-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    align-items: center;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #fcc419;
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.meal {
    /*first value => horizontally, second value => vertically, third value => blur*/
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); /*distinguish the card with a subtle shadow*/
    border-radius: 12px;
    overflow: hidden; /*To avoid the image to overflow the card*/
    transition: all 0.4s; /*for the hover movement*/
}

.meal:hover {
    /*Move the cards when hover. First horizontally and second value vertically*/
    transform: translateY(-2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-padding {
    padding: 0.7rem 0 0 0.7rem;
}

.meal-info {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.align-center {
    text-align: center;
}

.diet-cards {
    margin-bottom: 5rem;
}

.meal-title-diet {
    font-size: 3.0rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 3.2rem;
}


/****************************************************************************/
/*SEE ALL RECIPES*/
/****************************************************************************/

.see-all-recipes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 400;
}


/****************************************************************************/
/*TESTIMONIALS SECTION*/
/****************************************************************************/

.section-testimonials {
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    background-color: #fdf2e9;
}

.testimonial-container {
    padding: 9.6rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
    font-size: 1.8rem;
    line-height: 1.8;
}

.single-testimonial {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
}

.testimonial-image {
    width: 6.4rem;
    border-radius: 100%;
}

.testimonial-author {
    font-size: 1.6rem;
    color: #777;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 2rem;
}

.gallery-pic {
    width: 100%;
    transition: all 0.5s;
}

.gallery-pic:hover {
    /*Move the cards when hover. First horizontally and second value vertically*/
    transform: scale(1.2);
}

.zoom-effect {
    overflow: hidden;
}


/****************************************************************************/
/*PRICING*/
/****************************************************************************/

.pricing {
    padding: 9.6rem 0;
    /*margin-bottom: 9.6rem;*/
}

.price-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
}

.price-card {
    /*text-align: center;*/
    max-width: 40rem;
    border: 2px solid #fdf2e9;
    border-radius: 11px;
    padding: 4.8rem;
}

.price-card--background-color {
    background-color: #fdf2e9;
}

.price-card--starter {
    /*margin-left: auto;
    margin-right: 0;*/
    justify-self: end;
}

.price-card--complete {
    /*margin-left: 0;
    margin-right: auto;*/
    justify-self: start;
    position: relative;
    overflow: hidden;
}

.price-value {
    font-size: 6.2rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 2rem
}

.price-text {
    font-size: 1.6rem;
    color: #6f6f6f;
    line-height: 1.6;
    margin-bottom: 4rem;
}

.price-text--footnote {
    text-align: center;
    /*margin-top: 4rem;*/
    margin-bottom: 10rem;
}

.price-benefits {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 4rem;
}

.price-list-item {
    font-size: 1.8rem;
    display: flex;
    gap: 2rem;
    /*align-items: center;*/
}

.price-card--complete::after {
    content: 'Best Value';
    background-color: #ffd43b;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0.8rem 8rem;
    text-align: center;
    color: black;
    position: absolute;
    top: 6%; /*Use percentage when building a flexible layout*/
    right: -20%;
    transform: rotate(45deg);
}

.benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.benefit {
    display: flex;
    flex-direction: column;
}

.benefit-icon {
    color: #e67e22;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    background-color: #fdf2e9;
    padding: 1.8rem;
    margin-bottom: 3rem;
}

.head-benefits {
    font-size: 2.4rem;
    line-height: 1.4;
    color: #333;
    margin-bottom: 1rem;
}

.text-benefits {
    font-size: 1.8rem;
    line-height: 1.8;
}


/****************************************************************************/
/*CALL TO ACTION*/
/****************************************************************************/

.cta-section {
    /*display: grid;
    grid-template-columns: 1.4fr 0.6fr;*/
    padding: 4.2rem 0 12.8rem 0;
    /*background-color: #e67e22;*/
}

.cta-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
    border-radius: 11px;
    /*background-color: #e67e22;*/
    background-image: linear-gradient(to right bottom,
    #eb984e, #e67e22);
    overflow: hidden; /*For the image not to overflow the border*/
}


.cta-text-box {
    display: flex;
    flex-direction: column;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-heading {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
    color: #45260a;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    color: #45260a;
    margin-bottom: 4.8rem;
}


.cta-img-box {
    background-image: linear-gradient(
            to right bottom,
            rgba(235, 151, 78, 0.35),
            rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg
    );
    background-size: cover;
    background-position: center;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
    width: 100%;
    font-size: 1.8rem;
    padding: 1.2rem;
    font-family: inherit; /*Inherit the Body's font family (parent)*/
    background-color: #fdf2e9;
    color: inherit; /*inherit from the parent box*/
    border-radius: 9px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/*Sudo element do not exist on the page but we can select its styles*/
.cta-form input::placeholder {
    color: #aaa;
}


/****************************************************************************/
/*FOOTER*/
/****************************************************************************/

.section-footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

/* The line to separate sections */
.footer-line {
    /*font-weight: 100;*/
    color: #f5f2f2;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    margin-bottom: 12.8rem;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1.5fr 1.2fr 1fr 1fr 1fr;
    column-gap: 6rem;
}

.footer-cols,
.nav-cols {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.footer-cols img {
    width: 100%;
}

.social-icons {
    display: flex;
    gap: 2rem;
}

.social-icon {
    font-size: 2.4rem;
    color: #777;
}

.copyright {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #777;
    letter-spacing: 1px;
    margin-top: auto;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #767676;
}

.footer-contact--address {
    margin-bottom: 3rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #767676;
    list-style: none;
    text-decoration: none;
}

.footer-links--contact {
    gap: 0;
}

.footer-links a:link,
.footer-links a:visited {
    text-decoration: none;
    color: #767676;
    transition: all 0.4s;
}

.footer-links a:hover,
.footer-links a:active {
    color: #e67e22;
}









